

<div class=btn btn-outline-primary>
    <a href="{{addquestionurl}}/?cmid={{cmid}}" class="btn btn-primary ml-3">Add Question</a>
</div>
<div class=btn btn-outline-primary>
    <a href="{{attempturl}}/?courseid={{courseid}}" class="btn btn-primary ml-3">Add Question</a>
    <button id="attempt-btn-{{courseid}}" class="btn btn-info p-3 attempt-btn">Atytempt </button> 
</div>
<div class="row justify-content-center">
    <div class="col-auto">
         <a href="{{backcourse}}" class="btn btn-lg btn-secondary mt-6 ">Back to the Course</a>
    </div>
</div>
